USE [DynamicFormDB]
GO
/****** Object:  Table [dbo].[FormFields]    Script Date: 20-Nov-25 11:23:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormFields](
	[FieldId] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[Label] [nvarchar](200) NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[SelectedOptionValueId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forms]    Script Date: 20-Nov-25 11:23:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forms](
	[FormId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 20-Nov-25 11:23:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[OptionId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionValues]    Script Date: 20-Nov-25 11:23:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionValues](
	[OptionValueId] [int] IDENTITY(1,1) NOT NULL,
	[OptionId] [int] NOT NULL,
	[Value] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FormFields] ON 

INSERT [dbo].[FormFields] ([FieldId], [FormId], [Label], [IsRequired], [SelectedOptionValueId]) VALUES (1, 1, N'Level 1', 1, 1)
SET IDENTITY_INSERT [dbo].[FormFields] OFF
GO
SET IDENTITY_INSERT [dbo].[Forms] ON 

INSERT [dbo].[Forms] ([FormId], [Title], [CreatedDate]) VALUES (1, N'Student Information', CAST(N'2025-11-20T22:17:27.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[Forms] OFF
GO
SET IDENTITY_INSERT [dbo].[Options] ON 

INSERT [dbo].[Options] ([OptionId], [Name]) VALUES (1, N'Default Dropdown Options')
SET IDENTITY_INSERT [dbo].[Options] OFF
GO
SET IDENTITY_INSERT [dbo].[OptionValues] ON 

INSERT [dbo].[OptionValues] ([OptionValueId], [OptionId], [Value]) VALUES (1, 1, N'Option A')
INSERT [dbo].[OptionValues] ([OptionValueId], [OptionId], [Value]) VALUES (2, 1, N'Option B')
INSERT [dbo].[OptionValues] ([OptionValueId], [OptionId], [Value]) VALUES (3, 1, N'Option C')
SET IDENTITY_INSERT [dbo].[OptionValues] OFF
GO
ALTER TABLE [dbo].[Forms] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[FormFields]  WITH CHECK ADD  CONSTRAINT [FK__FormField__Forms_FormId] FOREIGN KEY([FormId])
REFERENCES [dbo].[Forms] ([FormId])
GO
ALTER TABLE [dbo].[FormFields] CHECK CONSTRAINT [FK__FormField__Forms_FormId]
GO
ALTER TABLE [dbo].[OptionValues]  WITH CHECK ADD FOREIGN KEY([OptionId])
REFERENCES [dbo].[Options] ([OptionId])
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFormsPaged]    Script Date: 20-Nov-25 11:23:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFormsPaged]
(
    @Start INT,
    @Length INT,
    @Search NVARCHAR(100) = NULL,
    @RecordsTotal INT OUTPUT,
    @RecordsFiltered INT OUTPUT
)
AS
BEGIN
    -- Total count
    SELECT @RecordsTotal = COUNT(*) FROM Forms;

    -- Filtered count
    SELECT @RecordsFiltered = COUNT(*)
    FROM Forms
    WHERE (@Search IS NULL OR Title LIKE '%' + @Search + '%');

    -- Actual paginated data
    SELECT FormId, Title, CreatedDate
    FROM Forms
    WHERE (@Search IS NULL OR Title LIKE '%' + @Search + '%')
    ORDER BY FormId DESC
    OFFSET @Start ROWS
    FETCH NEXT @Length ROWS ONLY;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFormWithFields]    Script Date: 20-Nov-25 11:23:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFormWithFields]
(
    @FormId INT
)
AS
BEGIN
    -- Form Info
    SELECT FormId, Title
    FROM Forms
    WHERE FormId = @FormId;

    -- Fields
    SELECT 
        f.FieldId,
        f.FormId,
        f.Label,
        f.IsRequired,
        f.SelectedOptionValueId
    FROM FormFields f
    WHERE f.FormId = @FormId
    ORDER BY f.FieldId ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOptionValues]    Script Date: 20-Nov-25 11:23:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetOptionValues]
(
    @OptionId INT
)
AS
BEGIN
    SELECT 
        OptionValueId,
        OptionId,
        Value
    FROM OptionValues
    WHERE OptionId = @OptionId
    ORDER BY OptionValueId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveForm]    Script Date: 20-Nov-25 11:23:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveForm]
(
    @Title NVARCHAR(200),
    @NewFormId INT OUTPUT
)
AS
BEGIN
    INSERT INTO Forms (Title)
    VALUES (@Title);

    SET @NewFormId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveFormField]    Script Date: 20-Nov-25 11:23:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaveFormField]
(
    @FormId INT,
    @Label NVARCHAR(200),
    @IsRequired BIT,
    @SelectedOptionValueId INT = NULL
)
AS
BEGIN
    INSERT INTO FormFields (FormId, Label, IsRequired, SelectedOptionValueId)
    VALUES (@FormId, @Label, @IsRequired, @SelectedOptionValueId);
END;
GO
